<ul>
    <li class="list"><a href="/">Home</a></li>
    <li class="list"><a href="/about">About</a></li>
    <li class="list"><a href="/create">Create</a></li>
    <li class="list"><a href="/products">Product List</a></li>
</ul>